<h2>******** Now your results ********</h2>
<p>Your word: <%= params[:word] %></p>
<p>Time Taken to answer: <%= @time %></p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @message %></p>
<p><%= link_to "Play again", new_path %></p>
